---
import MainLayout from "../layouts/MainLayout.astro";
import TarotCards from "../components/TarotCards.astro";

const resMeanings = await fetch('https://tarotapi.dev/api/v1/cards')
const tarotMeanings = await resMeanings.json()
---


<MainLayout title="Ask the cards">
	<a href="/spread">Show spread animations</a>

	<div class="altar-scene">
		<div class="altar">
			<!-- https://css-tricks.com/abusing-customizable-selects/ -->
			<nav aria-label="Card navigation" class="card-navigation">
				<button>Klik op mij!</button>
				<a href="/spread">Reading</a>
				<a href="/overview">Overview</a>
			</nav>
		</div>
	</div>
	
</MainLayout>

<style>
	.altar-scene {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		/* perspective: 30em; */
		width: 100%;
		height: 90svh;
		margin: 0;
		padding: 0;
	}

    .altar {
		width: 100%;
		height: 30em;
		background-color: var(--color-object);
		/* transform:
			rotateX(60deg); */
	}

	.menu-card {
		background-color: red;
		width: 12em;
		height: 21em;
	}
</style>