@import './typography.css';

:root {
  --color-dark: #111;
  --color-light: #ececec;
  --font-primary: serif;

  /* spacing */
  --padding-inline: clamp(1rem, 2.5vw, 2rem);
  --padding-block: clamp(2rem, 5vw, 4rem);
  --gap: clamp(1rem, 2.5vw, 2rem);


  --color-text: var(--color-dark);
  --color-background: var(--color-light);

  --color-bg: #4E2C5D;
  --color-border: #3b2146;
  --color-text-one: #fff;
  --color-hotzone: hotpink;
  --color-full: #4E2C5D;
  --color-object: #683b7c;
}

* {
  box-sizing: border-box;
  margin: 0;
}


body {
  color: var(--color-text-one);
  background-color: var(--color-bg);
}