@font-face {
  font-family: 'Instrument Serif Regular';
  src: url(/public/assets/fonts/InstrumentSerif-Regular.ttf) format('ttf');
  font-weight: 100 800;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Serif Italic';
  src: url(/public/assets/fonts/InstrumentSerif-Italic.ttf) format('ttf');
  font-weight: 100 800;
  font-style: normal;
}



@font-face {
  font-family: 'Instrument';
  src: url('/assets/fonts/InstrumentSerif-Regular.ttf');
}

* {
  font-family: 'Instrument', Times, serif;
  color: inherit;
}