@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.01em;
  color: inherit;
}

.large-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  letter-spacing: -0.02em;
  font-variation-settings: 'wght' 600;
  line-height: 1.2;
}

.medium-heading {
  font-size: clamp(1.5rem, 3vw, 2rem);
  letter-spacing: -0.01em;
  font-variation-settings: 'wght' 500;
  line-height: 1.2;
}

.small-body {
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-variation-settings: 'wght' 350;
  line-height: 1.2;
}

.text-content-spacing {
  > * + * {
    margin-top: 1em;
  }
}