---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href="/public/styles/global.css" />
    <link rel="stylesheet" href="/public/styles/typography.css" />
  </head>
  <body>
    <header>
      <nav class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="/">Home</a></li>
          <li><a class="menu__item" href="/overview">Overview</a></li>
          <li><a class="menu__item" href="/spread">Reading</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <slot />

      <style>
        /* Hele hamburger-menu: https://codepen.io/andreykrokhin/pen/mGEqja?editors=0110 */
        #menu__toggle {
          opacity: 0;
        }

        #menu__toggle:checked ~ .menu__btn > span {
          transform: rotate(45deg);
        }
        #menu__toggle:checked ~ .menu__btn > span::before {
          top: 0;
          transform: rotate(0);
        }
        #menu__toggle:checked ~ .menu__btn > span::after {
          top: 0;
          transform: rotate(90deg);
        }
        #menu__toggle:checked ~ .menu__box {
          visibility: visible;
          left: 0;
        }

        .menu__btn {
          display: flex;
          align-items: center;
          position: fixed;
          top: 20px;
          left: 20px;

          width: 26px;
          height: 26px;

          cursor: pointer;
          z-index: 101;
        }

        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
          display: block;
          position: absolute;

          width: 100%;
          height: 2px;

          background-color: #efe7d5;

          transition-duration: .5s;
        }

        .menu__btn > span::before {
          content: "";
          top: -8px;
        }

        .menu__btn > span::after {
          content: "";
          top: 8px;
        }

        .menu__box {
          display: block;
          position: fixed;
          visibility: hidden;
          z-index: 100;
          top: 0;
          left: -100%;

          width: 300px;
          height: 100%;

          margin: 0;
          padding: 5em 0;

          list-style: none;

          background-color: #6A3F73;
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

          transition-duration: .5s;
        }

        .menu__item {
          display: block;
          padding: 1em;

          color: #F6FAfC;

          font-family: 'Instrument', 'Times New Roman', Times, serif;
          font-size: 1.6em;
          font-weight: 350;

          text-decoration: none;

          transition-duration: .5s;
        }

        .menu__item:hover {
          background-color: #4A2852;
        }
      </style>
    </main>
  </body>
</html>
